.contact-section {
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.contact-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.contact-title h2 {
  font-size: 2rem;
  font-weight: 600;
}

.email-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-size: large;
  font-weight: 900;
}
.mail-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact-description {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.contact-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-btn {
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  transition: background-color 0.3s;
}

.contact-btn:hover {
  opacity: 0.8;
}

.contact-btn.twitter {
  background-color: #1DA1F2;
}

.contact-btn.linkedin {
  background-color: #0077b5;
}

.contact-btn.github {
  background-color: #333;
}

.collab-text {
  font-family: Poppins;
  font-size: 2.2rem;
  font-style: italic;
  margin-top: 20px;
  line-height: 1.5;
}

/* Media Queries */

/* For small screens (e.g., phones) */
@media (max-width: 480px) {
  .contact-title h2 {
    font-size: 1.5rem;
  }

  .contact-btn {
    font-size: 0.9rem;
    padding: 8px 18px;
  }

  .contact-description {
    font-size: 0.9rem;
  }

  .collab-text {
    font-size: 1rem;
  }
}

/* For medium screens (e.g., tablets) */
@media (max-width: 768px) {
  .contact-title h2 {
    font-size: 1.8rem;
  }

  .contact-btn {
    font-size: 1rem;
    padding: 9px 19px;
  }

  .contact-description {
    font-size: 1rem;
  }

  .collab-text {
    font-size: 1.1rem;
  }
}

