/* ===== FADE-IN ANIMATION ===== */
@keyframes fadeIn {
     from {
          opacity: 0;
          transform: translateY(20px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

/* ============================== */
.hero {
     height: calc(100vh - 88px);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 20px;
     /* Animation on load */
     animation: fadeIn 0.8s ease-in-out;
}

.hero .hero-content {
     text-align: center;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 20px;
     flex-wrap: wrap;
     padding: 0 20px;
     margin: 0 auto;
     max-width: 1200px;
}

.left-hero {
     max-width: 600px;
     text-align: left;
}

.hero-title {
     font-size: 6rem;
     margin-bottom: 1rem;
     font-weight: 700;
}

.hero-subtitle {
     font-size: 3rem;
     margin-bottom: 1.5rem;
     color: lightgray;
}

.right-hero {
     display: flex;
     justify-content: center;
     align-items: center;
}

.waiting-icon {
     width: 300px;
     height: 300px;
}

.hero-objective {
     font-size: 1.5rem;
     margin-top: 0.2rem;
     color: lightgray;
     display: flex;
     width: 80%;
     justify-content: center;
     align-items: center;
     gap: 5px;
}

@media (max-width: 768px) {
     .hero{
          margin-top: 30px;
     }
     .hero-content {
          flex-direction: column-reverse;
     }

     .left-hero {
          text-align: center;
     }

     .hero-title {
          font-size: 2rem;
     }

     .hero-subtitle {
          font-size: 1.5rem;
     }

     .waiting-icon {
          width: 200px;
          height: 200px;
     }
     .hero-objective {
          font-size: 0.8rem;
     }
}

.resume {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    animation: fadeIn 0.8s ease-in-out 0.4s both;
}

.btn {
    background-color: transparent;
    border-radius: 30px;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.4s ease;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-link {
    display: block;
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .resume {
        margin-top: 2rem;
    }
    
    .nav-link {
        font-size: 1rem;
        padding: 0.6rem 2rem;
    }
}