.resume-main {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}
.resume-main .resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
  transition: all 0.3s ease-in-out;
}
